/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --content-color: #f1b2ce;
  --accent-color: #ff0070;
  --background-color: #000028;
  --main-header-color: #db00ff;
  --background-image: url("/images/cover-image-dark.png");

  .header::before {
    border-block-start: 1px solid var(--accent-color);
    border-inline-end: 1px solid var(--accent-color);
  }

  .header::after {
    border-block-end: 1px solid var(--accent-color);
    border-inline-start: 1px solid var(--accent-color);
  }

  .decoration::before {
    visibility: visible;
  }

  .decoration::after {
    visibility: visible;
  }

  .header__theme-menu-list {
    color: var(--accent-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid var(--accent-color);
  }

  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--accent-color);
  }

  .header-description {
    color: var(--background-color);
  }

  .link {
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .content-section__header {
    color: var(--accent-color);
  }

  .content-section__subheader {
    color: var(--background-color);
  }

  .content-section__tip {
    color: var(--background-color);
  }

  .footer::after {
    border-block-start: 1px solid var(--accent-color);
    border-inline-end: 1px solid var(--accent-color);
  }

  .footer::before {
    border-block-end: 1px solid var(--accent-color);
    border-inline-start: 1px solid var(--accent-color);
  }
}
