/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --content-color: #f1b2ce;
  --accent-color: #ff0070;
  --background-color: #000028;
  --main-header-color: #db00ff;
  --background-image: url("/images/cover-image-dark.png");
}

.theme-dark.decoration::before {
  visibility: visible;
}

.decoration::after {
  visibility: visible;
}
