/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --decor-color: #ff0070;
  --filling-color: #ff0070;
  --header-color: #000028;
  --content-color: #f1b2ce;
  --background-color: #000028;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --background-image: url("/images/cover-image-dark.png");
  --link-shadow-color: #ff0070;

  .decoration::before {
    visibility: visible;
  }

  .decoration::after {
    visibility: visible;
  }
}

.theme_dark.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
}
