/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --content-color: #353430;
  --accent-color: #FF8DCB;
  --background-color: #F5F5F5;
  --main-header-color: #FFC2E6;
  --background-image: url("/images/cover-image-light.png");
}


  .decoration::before {
    visibility: hidden;
  }

  .decoration::after{
    visibility: hidden;
  }







  