/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("/images/cover-image-light.png");
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --header-color: #353430;
  --background-color: white;
  --main-header-color: #ffc2e6;
}

:root {
  --background-image: url("/images/cover-image-light.png");
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --header-color: #353430;
  --background-color: white;
  --main-header-color: #ffc2e6;
}
