/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex mono", sans-serif;
  inline-size: 375px;
  background-image: url("/images/cover-image-dark.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  gap: 40px;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  background-image: url("/images/cover-image-dark.png");
  position: relative;
}

.header__theme-menu-list::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  align-self: end;
  margin-block-end: 27px;
}

.decoration-text::before {
  content: "REC";
  color: var(--accent-color);
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  line-height: 25px;
}
.decoration-image::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: absolute;
  box-shadow: var(--accent-color) 0px 0px 10px 5px;
  inset-block-start: 18px;
  inset-inline-end: 19px;
}

.header__theme-menu {
  justify-self: end;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent-color);
  padding-inline-end: 10px;
  padding-block-start: 10px;
}

.header__theme-menu-item {
  font-size: 18px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font: inherit;
  border-radius: 0;
  appearance: none;
  text-transform: lowercase;
  padding: 4px 13px;
  cursor: pointer;
  line-height: 18px;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.main-title {
  color: var(--main-header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block-start: 65px;
  padding-block-end: 52px;
  padding-inline-start: 10px;
}

.header-description {
  margin: 0px 10px 66px 10px;
  font-size: 18px;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: bold;
}

.header-description::after {
  content: " ";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.main-content {
  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-section__header {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
}

.content-section__subheader {
  font-size: 18px;
  line-height: 23.4px;
  color-interpolation-filters: var(--header-color);
}

.content-section__paragraph {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--main-color);
  margin-block-start: -10px;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--main-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--main-color);
}

.content-section__tip {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--header-color);
  font-weight: normal;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 10px;
}

.image {
  inline-size: 100%;
  object-fit: contain;
}
.footer {
  position: relative;
}
.footer-content {
  text-shadow: 2px 2px 0 var(--accent-color);
  padding: 286px 14px;
}

.footer::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.footer::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}
