/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex mono", sans-serif;
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  position: relative;
  min-block-size: 100vh;
}

.header::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-block-start: 8px;
  inset-inline-end: 10px;
  position: absolute;
}

.header::after {
  content: " ";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  position: absolute;
  inset-block-end: 8px;
  inset-inline-start: 10px;
}

.decoration {
  position: relative;
  visibility: hidden;
}

.decoration::before {
  content: "REC";
  color: var(--accent-color);
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 43px;
  line-height: 25px;
  visibility: visible;
  z-index: 1;
}

.decoration::after {
  display: flex;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: absolute;
  box-shadow: var(--accent-color) 0px 0px 10px 5px;
  inset-block-start: 18px;
  inset-inline-end: 19px;
  visibility: visible;
  z-index: 1;
}

.header__theme-menu {
  padding-block-start: 72px;
  padding-inline-end: 10px;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent-color);
}

.header__theme-menu-item {
  font-size: 18px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font: inherit;
  border-radius: 0;
  appearance: none;
  text-transform: lowercase;
  padding: 4px 13px;
  cursor: pointer;
  line-height: 18px;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.main-title {
  color: var(--main-header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block-start: 65px;
  padding-block-end: 55px;
  padding-inline-start: 10px;
  font-family: inherit;
}

.header-description {
  margin: 0px 10px 66px 10px;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--background-color);
  block-size: fit-content;
  inline-size: fit-content;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: bold;
}

.main-content {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-section__header {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
}

.content-section__subheader {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--background-color);
}

.content-section__subheader-tips {
  margin-block-end: 20px;
}

.content-section__paragraph {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--content-color);
  margin-block-end: 20px;
  margin-block-start: 10px;
}

.link {
  text-shadow: 2px 2px 0 var(--content-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--content-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--content-color);
}

.content-section__tip {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--background-color);
  font-weight: normal;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 10px;
}

.image {
  inline-size: 100%;
  object-fit: contain;
}

.footer {
  position: relative;
  background-color: var(--background-color);
  min-block-size: 100vh;
}

.footer-content {
  text-shadow: 2px 2px 0 var(--accent-color);
  padding: 286px 0px;
  font-weight: bold;
  line-height: 0.825em;
  font-size: 116px;
  text-align: center;
}

.footer::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.footer::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

@media screen and (min-width: 768px) {
  .main-content {
    padding-block-start: 60px;
    padding-block-end: 60px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 80px;
  }

  .header::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header:after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .decoration::before {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .decoration::after {
    inset-block-start: 28px;
    inset-inline-end: 29px;
  }

  .header__theme-menu-list {
    padding-inline-end: 10px;
    padding-block-start: 115px;
    align-self: center;
    justify-self: center;
  }

  .main-title {
    padding: 0px;
    padding-block-start: 173px;
  }

  .header-description {
    margin: 162px 20px 184px 384px;
    block-size: fit-content;
    inline-size: fit-content;
  }

  .content-section__paragraph {
    margin: 0;
    margin-block-start: -10px;
  }

  .content-section__subheader-tips {
    margin: 0;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 236px auto;
    gap: 20px;
    justify-content: start;
  }

  .flex-wrapper__big-screen {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .different-align {
    display: block;
    max-inline-size: 236px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .image {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
  }

  .images {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    row-gap: 20px;
    column-gap: 20px;
    grid-template-areas:
      "image-one image-one    image-two"
      "image-three image-four image-two"
      "image-three image-five image-five";
  }

  .image-one {
    grid-area: image-one;
  }

  .image-two {
    grid-area: image-two;
  }

  .image-three {
    grid-area: image-three;
  }

  .image-four {
    grid-area: image-four;
  }

  .image-five {
    grid-area: image-five;
  }

  .footer-content {
    padding: 462px 0px;
  }

  .footer::after {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .footer::before {
    inset-inline-start: 20px;
    inset-block-end: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 80px;
  }

  .header::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header:after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .decoration::before {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .decoration::after {
    inset-block-start: 28px;
    inset-inline-end: 29px;
  }

  .header__theme-menu {
    padding: 0px;
    padding-block-start: 20px;
    justify-self: center;
  }

  .header__theme-menu-list {
    padding: 0;
    justify-self: center;
    display: flex;
    flex-direction: row;
  }

  .main-title {
    font-size: 157px;
    padding-block-start: 256px;
  }

  .header-description {
    margin: 114px 20px 134px 513px;
    block-size: fit-content;
    inline-size: fit-content;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 315px auto;
    gap: 20px;
    justify-content: start;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .flex-wrapper__big-screen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: flex-start;
  }

  .different-align {
    display: block;
    max-inline-size: 315px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .image {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
  }

  .images {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    row-gap: 20px;
    column-gap: 20px;
    grid-template-areas:
      "image-one image-one    image-two"
      "image-three image-four image-two"
      "image-three image-five image-five";
  }

  .image-one {
    grid-area: image-one;
  }

  .image-two {
    grid-area: image-two;
  }

  .image-three {
    grid-area: image-three;
  }

  .image-four {
    grid-area: image-four;
  }

  .image-five {
    grid-area: image-five;
  }

  .footer-content {
    padding: 319px 0px;
  }

  .footer::after {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .footer::before {
    inset-inline-start: 20px;
    inset-block-end: 16px;
  }
}
