/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --content-color: #f1b2ce;
  --accent-color: #ff0070;
  --background-color: #000028;
  --main-header-color: #db00ff;
  --background-image: url("/images/cover-image-dark.png");
}

