/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono", monospace;
  --decor-color: #ff0070;
  --filling-color: #ff0070;
  --header-color: #000028;
  --content-color: #f1b2ce;
  --background-color: #000028;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --background-image: url("/images/cover-image-dark.png");
  --link-shadow-color: #ff0070;
}
